.tags {
    padding-bottom: 1rem;
    text-align: center;
}
.tags button{
    margin: 1px;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

